body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, 
    rgba(131,58,180,1) 0%, rgba(255,137,137,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
}
div {
    color: white;
    font-family: Garamond;
}

#div_player1, #div_player2{
    color: grey;
    background: white;
    padding: 5px;
    float: none;
	border-radius: 15px;
    width: 30%;
}

.login_btn {
    background-color: white;
    color: #ff8989;
    width: 30%;
}